<?php
/**
 * Myges login ( ex : jdupond)
 */
define("user_login", "");
/**
 * Myges password
 */
define("user_password", "");
/**
 * Google calendar API name
 */
define("calendar_api_application_name", "");
/**
 * Google calendar API credentials file (usually credentials.json)
 */
define("calendar_api_auth_config_file", "");
/**
 * Google calendar id (ex : vf2kq9ary690m8iee8ahv3e3d0@group.calendar.google.com)
 */
define("calendar_id", "");
/**
 * Max batch request (don't set above 50)
 */
define('max_batch_request', 45);